
EfficientNet/log/checkpoint.pth.tar
EfficientNet/log/log.txt
EfficientNet/log/model_best.pth.tar
EfficientNet/model_pytorch/__pycache__/model.cpython-37.pyc
EfficientNet/model_pytorch/__pycache__/model.cpython-37.pyc
